@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  justify-content: center;
  font-size: 2rem;
 font-family: "Poppins", sans-serif;;
}
table{
  box-shadow: 5px 5px 0px rgb(54, 54, 54);
}
th{
  padding: 10px;
  font-size: 2.5rem;
  color: rgb(25, 0, 90);
}
td{
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}